body {
  margin: 0;
  height: 100vh;
  background-image: url("images/space1.jpg"); 
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#rocket {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#rocket img {
  width: 120px;
  filter: drop-shadow(0 0 20px #000);
}
