body {
  margin: 0;
  height: 100vh;
  background-image: url("images/space1.jpg"); 
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#rocket {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#rocket img {
  width: 120px;
  filter: drop-shadow(0 0 25px #000);
}




.asteroid {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url(images/asteroid.png);
  background-size: cover;
  background-position: center;
  z-index: 5;
}

.a1 {
  top: 130px;
  left: 200px;
}

.a2 {
  top: 50px;
  right: 250px;
}

.a3 {
  bottom: 50px;
  left: 60%;
}


